## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,73.58,33,2,13.98,clear sky
1,1,East London,ZA,-33.0153,27.9116,67.14,52,0,5.75,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,74.35,78,100,17.54,overcast clouds
3,3,Kavieng,PG,-2.5744,150.7967,81.86,80,71,14.70,light rain
4,4,Taoudenni,ML,22.6783,-3.9836,112.41,9,70,14.45,broken clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kavieng,PG,-2.5744,150.7967,81.86,80,71,14.70,light rain
5,5,Mamedkala,RU,42.1677,48.1199,83.46,49,0,5.35,clear sky
12,12,Butaritari,KI,3.0707,172.7902,81.77,74,99,10.40,overcast clouds
13,13,Kropotkin,RU,45.4375,40.5756,75.27,61,32,3.53,light rain
15,15,Bathsheba,BB,13.2167,-59.5167,88.41,78,20,25.32,few clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Westport,US,41.1415,-73.3579,86.72,62,0,6.91,clear sky
682,682,Havelock,US,34.8791,-76.9013,88.99,73,0,9.22,clear sky
684,684,Kokopo,PG,-4.3520,152.2633,76.33,81,94,4.74,overcast clouds
689,689,Lata,PT,40.1629,-8.3327,80.17,48,25,8.41,scattered clouds
694,694,Makakilo City,US,21.3469,-158.0858,76.69,74,52,20.87,broken clouds

In [15]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Kavieng,PG,-2.5744,150.7967,81.86,80,71,14.70,light rain
5,5,Mamedkala,RU,42.1677,48.1199,83.46,49,0,5.35,clear sky
12,12,Butaritari,KI,3.0707,172.7902,81.77,74,99,10.40,overcast clouds
13,13,Kropotkin,RU,45.4375,40.5756,75.27,61,32,3.53,light rain
15,15,Bathsheba,BB,13.2167,-59.5167,88.41,78,20,25.32,few clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Westport,US,41.1415,-73.3579,86.72,62,0,6.91,clear sky
682,682,Havelock,US,34.8791,-76.9013,88.99,73,0,9.22,clear sky
684,684,Kokopo,PG,-4.3520,152.2633,76.33,81,94,4.74,overcast clouds
689,689,Lata,PT,40.1629,-8.3327,80.17,48,25,8.41,scattered clouds
694,694,Makakilo City,US,21.3469,-158.0858,76.69,74,52,20.87,broken clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kavieng,PG,81.86,light rain,-2.5744,150.7967,
5,Mamedkala,RU,83.46,clear sky,42.1677,48.1199,
12,Butaritari,KI,81.77,overcast clouds,3.0707,172.7902,
13,Kropotkin,RU,75.27,light rain,45.4375,40.5756,
15,Bathsheba,BB,88.41,few clouds,13.2167,-59.5167,
18,Kijang,KR,82.13,overcast clouds,35.2442,129.2139,
19,Port Elizabeth,ZA,76.10,clear sky,-33.9180,25.5701,
20,Mangrol,IN,80.94,broken clouds,21.1167,70.1167,
21,Hilo,US,87.28,overcast clouds,19.7297,-155.0900,
22,Port Blair,IN,78.84,mist,11.6667,92.7500,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Kavieng,PG,81.86,light rain,-2.5744,150.7967,Nusa Island Retreat
5,Mamedkala,RU,83.46,clear sky,42.1677,48.1199,Igry Frifayer
12,Butaritari,KI,81.77,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
13,Kropotkin,RU,75.27,light rain,45.4375,40.5756,Hotel Europe Kropotkin
15,Bathsheba,BB,88.41,few clouds,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...,...
681,Westport,US,86.72,clear sky,41.1415,-73.3579,The Westport Inn
682,Havelock,US,88.99,clear sky,34.8791,-76.9013,Sherwood Motel
684,Kokopo,PG,76.33,overcast clouds,-4.3520,152.2633,Kokopo Beach Bungalow Resort
689,Lata,PT,80.17,scattered clouds,40.1629,-8.3327,Casa Maquia
694,Makakilo City,US,76.69,broken clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))